* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-kerning: none;
    font-variant: traditional;
    font-family: 'DM Sans';
}

.util {
    text-align: center;
    margin: 10px 15px;
}

.profilecard {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    width: 40%;
    background-color: #1f1f1f;
    color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out;

}

.profilecard .prof-header {
    display: flex;
    margin: 10px 20px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    border: 2px double white;
    background: linear-gradient(to bottom right,  #ffc966 0%, #fe8989 100%);
    border-radius: 25px;
    color: black;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.749);
}

.prof-header img {
    height: 100px;
    width: 100px;
    border-radius: 125px;
    margin: 10px;
}

.prof-header .user-name {
    font-size: 35px;
    margin: 10px;
}

.prof-header .user-email {
    font-size: 25px;
    margin: 10px;
}

.prof-header .user-bio {
    font-size: 15px;
    margin: 10px;
}

.profile-actions .btn {
    margin: 8px 5px;
    cursor: pointer;
    transition: 0.3s ease;
    background: linear-gradient(to right, #000000, #000000);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.profile-actions .btn:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    transform: scale(1.05);

}

.logout {
    background: #ff4d4d;
}

.logout:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    transform: scale(1.05);

}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}